<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.fyp_preschool"
    tools:ignore="LockedOrientationActivity">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/label"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Fyp_Preschool">
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LandingActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LearningActivity"
            android:exported="false"
            android:parentActivityName=".LandingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GameActivity"
            android:exported="false"
            android:parentActivityName=".LandingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.statusBar" />
        <activity
            android:name=".DrawingActivity"
            android:exported="false"
            android:parentActivityName=".LandingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.statusBar" />
        <activity
            android:name=".TicTacToe"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.statusBar"/>
        <activity
            android:name=".AlphabetsActivity"
            android:exported="false"
            android:parentActivityName=".LearningActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />

        <activity
            android:name=".QuizActivity"
            android:exported="false"
            android:parentActivityName=".LandingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QuizAlphabetsActivity"
            android:exported="false"
            android:parentActivityName=".QuizActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>